@using Pigi.Captcha
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <div class="row">
        @Html.Captcha(new CaptchaSettings { Id = "c1", TextLength = 5 })
        
    </div>
    <button type="submit" class="btn btn-info">Check captcha</button>
</form>
    <p>Captcha 1 result: @ViewBag.c1</p>
